/* Exit sm device */
@media(max-width:675.98px) {
    .logo {
    
        padding-left: 1rem;
    }
    .row {
        margin-right: 7rem;
    }}
    li {
        padding: .5rem 0rem; 
    }
    li {
        padding: 1.4rem 0rem;
    }
    .img-foot {
       
        height: 20rem;
    }
    .position-item {
        background-color: aqua;
        margin: 0;
        left: 0;
        width: 30rem;
    }
    .position-box {
        
        width: 11rem;
        height: 9.23rem;
        width: 10rem;
    }
    .body {
        padding-left: 9rem;
    }
    .row-position {
        margin-top: 2rem;
    }
    .view-row {
        margin-left: 1.6rem;
        padding-top: 1rem;
    }
    .body-music {
        padding-right: 3rem;
      
    }
    .row-position {
        font-size: .58rem;
        padding-right: 6rem;
    }
    .img-section {
        height: 28rem;
        
    }
    .minites {
        font-size: 1rem;
        padding-left: .5rem;
        
        padding-top: 3rem;
    }
    .tan-img {
        padding-left: 0rem;
    }
    .super-man {
        font-size: 1rem;
        direction: ltr;
        padding-left: 0rem;
        padding-top: 2rem;
    }
    
    .main-video {
        padding-left: 2rem;
        padding-top: 8rem;
    }
    .back-site {
        position: absolute;
        top: 23rem;
        left: 1rem;
        width: 25rem;
        height: 28rem;
    }
    .Discover-para {
        padding-top: 10rem;
        font-size: 1rem;
        padding-right: 7rem;
        padding-left: 0rem;  
    }
    .button-main {
        height: 4rem;
        width: 12rem;
        margin-top: 5rem;
        font-size: 1.25rem;
        margin-left: 8rem;
    }
    .train-row {
        font-size: 1rem;
        padding-top: 8rem;
        margin-left: 3rem;
    }
    .smart-section {
        padding-left: 0rem;
        margin-top: 5rem;
    }
    .smart-para {
        margin-top: 0.5rem;
        margin-right: 0rem;
        font-size: 1rem;
    }
    hr {
        width: 82%;
        margin-left: 0rem;
    }
    .smart-para2 {
        margin-top: 0.5rem;
        font-size: 1rem;
    }
    .smart-para3 {
        margin-top: 0.5rem;
        font-size: 1rem;
        padding-right: 0rem;
    }
    .body-para {
        font-size: 1rem;
        padding-left: 0rem;
        padding-right: 6rem;
    }
    h1 {
        font-size: 3.8rem;
        padding-top: 4rem;
    }
    .body-use {
        padding: 0px;
        width: 24%;
        margin-left: 17rem;
    }
    .body-use a {
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        padding-left: 1rem;
    }
    .btn-btn3 {
        width: 120px;
        font-size: 1rem;
        border-left: 1px solid #c94334;
        padding: 29px 0px;
    }
    .btn-btn2 {
        color: #000000;
        width: 681px;
    }
    .body-paras {
        padding-left: 1rem;
        margin-top: 10rem;
        font-size: 1rem;
    }
    .paragraph-rule {
        padding-left: 4rem;
        color: #000000;
    }
    .paragraph-rule a {
        font-size: 1rem;
    }
    .paragraph-rule p {
        margin-top: 1rem;
        font-size: 0.8rem;
    }
    .rule-section2 {
        padding-left: 1rem;
    }
    .paragraph-rule2 a {
        font-size: 2rem;
    }
    .paragraph-rule2 a {
        font-size: 1rem;
    }
    .paragraph-rule2 p {
        margin-top: 1rem;
        font-size: .8rem;
    }
    .product-para {
        font-size: 0.6rem;
        padding-top: 4rem;
    }
    .product-para {
        padding-right: 6rem;
       
    }
    .box-icon {
        width: 22rem;
        height: 7rem;
    }
    
}
  